/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body{
    height: 100vh;
    background-color: #efefef;
    overflow: hidden;
    
}



/*menu icon for mobile*/
.menu-icon{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;

}


.menu-icon div{
    width: 35px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.732);
    margin: 6px 0;
    border-radius: 10px;
}

/*menu END*/



header{
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    background-color: #FFD4B3;
    height: 3.3rem;

}

header img{
    width: 50px;
}

header h1{
    font-size: 39px;
    color: #236AB9;
    font-family: "Montserrat", sans-serif;
    
}

.side-bar{
    position: absolute;
    display: block;
    width: 200px;
    height: 100%;
    background-color: #ecdddd;
    z-index: 1;
    overflow: scroll;
    border-right: solid 2px rgba(0, 0, 0, 0.171);
    
}

.display-none{
    display: none;
}

.side-bar h2{
    font-size: 1.4em;
    padding-left: 5px;
    padding-top: 1rem;
    border-bottom: solid black 2px;
    
}

#add-project-btn{
    margin-top: 10px;
    top: 10px;
    background-color: #83b8fa;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 60px;
}

#add-project-btn :hover{

}

.add-cancel-project-container{
    
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 95px;
    
}

.add-cancel-project-container form{
    padding-left: 10px;
    background-color: transparent;
}

.btns{
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
}

#add-btn{
    background-color: green;
    font-size: 20px;
    
}
#cancel-btn{
    background-color: red;
    font-size: 20px;
}


#plus-icon-project{
    font-weight: 900;
    font-size: 1.3rem;
    
    
}

form{
    background-color: antiquewhite;
}

.project{
    width: 100%;
    padding-top: 5px;
    height: 27px;
    background-color: rgb(255, 235, 205);
    margin-top: 12px;
    
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.project p{
    min-width: 120px;
    cursor: pointer;
    border-bottom: 2px solid rgba(128, 128, 128, 0.452);
}

.project span{
    font-size: 1.7rem;
    position: relative;
    bottom: 7px;
    font: bold;
    cursor: pointer;


}


body div .project:hover{
    background-color:rgb(204, 204, 204);
    cursor: pointer;
}

.main{
    display: block;
    z-index: 0;
}

.main h2{
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px solid;
}

#grid-container{
    
    margin-top: 10px;
    max-height: 88vh;
    display: grid;
    grid-template-columns: 100%;
    overflow-y: auto;
    
}

.task{
    
    background-color: #e0e7fd;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #c9c9c9;
    cursor: pointer;
    min-height: 4vh;
   
    
}

.task span{
    margin-right: 40px;
    font-size: 1.5rem;
}

.task p{
   min-width: 160px;
   word-wrap: break-word;
}

.task:hover{
    font-size: 1.4rem;
    cursor: pointer;
}
.task span:hover{
   color: red;
   font-size: 2rem;

}

#plus-icon{
    width: 65px;
    position: absolute;
    right:6%;
    bottom: 3%;
    cursor: pointer;
    z-index: 10;
}

#date{
    
    margin-right: 5px;
}

/*MODAL */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 40% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    
  }
  .modal-content input{
      font-size: 20px;
  }
  
  .modal-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .modal-btns button{
      font-size: 1.6rem;
  }

 

/*MODAL END */




@media only screen and (min-width:768px){

    body{
        font-size: 23px;
    }

    /*menu icon for mobile*/
    .menu-icon{
        display: none;
    }

    #new-project-name{
        margin-left: 3.5vw;
        width: 20vw;
    }

    .side-bar{
       
        display: block;
        width: 29vw;
        height: 100%;
        background-color: #ecdddd;
        
        overflow-y: auto;
        border-right: solid 2px rgba(0, 0, 0, 0.171);
        
    }

    #grid-container{
        margin-left: 30%;
        margin-right: 2%;
        margin-top: 2%;
        max-height: 88vh;
        display: grid;
        grid-template-columns: 100%;
        overflow-y: auto;
        
    }

    .main h2{
        margin-left: 10%;
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 3px solid;
    }

    #plus-icon{
        width: 65px;
        position: absolute;
        right:1%;
        top: 10px;
        cursor: pointer;
        z-index: 10;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 20%; /* Could be more or less, depending on screen size */
        
      }


   




/*menu END*/

}