/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body{
    height: 100vh;
    background-color: #efefef;
    overflow: hidden;
    
}



/*menu icon for mobile*/
.menu-icon{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;

}


.menu-icon div{
    width: 35px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.732);
    margin: 6px 0;
    border-radius: 10px;
}

/*menu END*/



header{
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    background-color: #FFD4B3;
    height: 3.3rem;

}

header img{
    width: 50px;
}

header h1{
    font-size: 39px;
    color: #236AB9;
    font-family: "Montserrat", sans-serif;
    
}

.side-bar{
    display: block;
    width: 200px;
    height: 100%;
    background-color: #D4E4F7;
    z-index: 1;
    overflow: scroll;
}

.display-none{
    display: none;
}

.side-bar h2{
    font-size: 1.4em;
    padding-left: 5px;
    padding-top: 1rem;
    border-bottom: solid black 2px;
    
}

#add-project-btn{
    margin-top: 10px;
    top: 10px;
    background-color: #83b8fa;
    width: 100%;
    font-size: 1rem;
}

#add-project-btn :hover{

}


#plus-icon-project{
    font-weight: 900;
    font-size: 1.3rem;
    
}

form{
    background-color: antiquewhite;
}

.project{
    width: 100%;
    padding-top: 5px;
    height: 23px;
    background-color: blanchedalmond;
    margin-top: 10px;
    text-align: center;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    
}


@media only screen and (min-width:768px){

    /*menu icon for mobile*/
    .menu-icon{
        display: none;
    }

    .side-bar{
        
     
       

    }

    .side-bar h2{
        
        
    }




/*menu END*/

}